@model StudentContributions.Models.Models.Semester

@{
    ViewData["Title"] = "Create";
}

<div class="col-md-8 offset-md-2 border-shadow">
    <h2>Create Semester</h2>
    <hr />
        <form asp-action="Create" class="needs-validation" novalidate>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" required />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" required />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="IsActive" class="form-check-input" />
                <label asp-for="IsActive" class="form-check-label"></label>
            </div>
            <div class="form-group" style="display: flex; justify-content: space-between; padding-top: 5px">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
