@model StudentContributions.Models.Models.Semester

@{
    ViewData["Title"] = "Edit";
}
<div class="col-md-8 offset-md-2 border-shadow">
    <h2>Edit semester</h2>
    <div class="container shadow" style="padding-bottom:5px">
    <form asp-action="Edit">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <input asp-for="IsActive" class="form-check-input" />
            <label asp-for="IsActive" class="form-check-label"></label>
        </div>
        <div class="form-group" style="display: flex; justify-content: space-between; margin-top: 5px">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
