<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentContributions</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentContributions.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa fa-home w3-margin-right">Home</i>
                        </a>
                    </li>
                    @if (User.IsInRole("Student"))
                    {
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="Student" asp-controller="Contribution" asp-action="Index">My Articles</a>
                        </li>
                    }
                    @if (User.IsInRole("Coordinator"))
                    {
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="Student" asp-controller="Contribution" asp-action="Index">The Article</a>
                        </li>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Statistic</a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="Admin" asp-controller="Account" asp-action="Index">Account Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="Admin" asp-controller="Semester" asp-action="Index">Semester Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="Admin" asp-controller="Faculty" asp-action="Index">Faculty Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="Admin" asp-controller="Magazine" asp-action="Index"> Magazine Management</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="Manager" asp-controller="Analysis" asp-action="Index">Analysis</a>
                    </li>
            </div>
            <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - StudentContributions - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
