@model StudentContributions.Models.Models.Contribution

@{
    ViewData["Title"] = "Create";
}
<partial name="_Notification" />

<div class="container mt-5">
    <h2 class="text-center">Create Contribution</h2>

    <form asp-action="Create" enctype="multipart/form-data" method="post" class="mt-4">
        <div class="mb-3">
            <label asp-for="Title" class="form-label"><b>Title</b></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <!-- Whoever do submission approval please remember to remove status select in article creation -->
       
        <!-- ------------------------------------------------------------------------------------------ -->
            <input asp-for="MagazineID" class="form-control" hidden/>
            <span asp-validation-for="MagazineID" class="text-danger"></span>

        <div class="mb-3">
            <label for="files" class="form-label"><b>Upload Files</b></label>
            <input type="file" name="files" id="files" class="form-control" accept=".pdf,.doc,.docx,.jpg,.jpeg,.png" multiple>
        </div>

        <div class="form-check mb-3">
            <input id="check" name="checkbox" type="checkbox" class="form-check-input" />
            <label for="checkbox" class="form-check-label"><b>I agree to the Terms of Service and Privacy Policy</b></label>
        </div>

        <div class="mb-3">
            <input id="checkSubmit" type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
