<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Contributions</title>
    <!-- Add Bootstrap 5 CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    @foreach (var magazine in Model)
    {
        <div class="ag-courses_item">
            <a href="@Url.Action("Index", "Contribution" , new { area="Student" })" class="ag-courses-item_link">
                <div class="ag-courses-item_bg"></div>

                <div class="ag-courses-item_title">
                    @magazine.MagazineName
                </div>
            </a>
        </div>
        
    }
    </div>
</body>
</html>
