<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Contributions</title>
    <!-- Add Bootstrap 5 CSS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Contribution/Home/Index.cshtml.js" asp-append-version="true"></script>
    <script src="~/Contribution/Home/Index.cshtml.css" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentContributions.styles.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="position-relative">
            <img src="~/img/412312413_353803377352101_3573509045879812506_n.jpg" alt="boat" style="width:100%; height:auto; max-width:100%; max-height:600px; min-width:200px; min-height:200px;">
            <button class="btn btn-success button position-absolute bottom-0 start-0" style="margin-bottom: 20px; margin-left:20px" data-bs-toggle="modal" data-bs-target="#contactModal">Contact Us</button>
        </div>
    </div>
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Contacts:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Phone: 123456789</p>
                    <p>Email: Buku@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var magazine in Model)
            {
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img src="~/img/db46gljkep171.png" class="card-img-top" alt="The Magazine">
                        <div class="card-body">
                            <h5 class="card-title">@magazine.MagazineName</h5>
                            <p class="card-text">This is @magazine.MagazineName</p>
                            <a href="@Url.Action("Details", "Home", new { id=magazine.ID })" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>

