@model StudentContributions.Models.Models.Faculty
<div class="col-md-8 offset-md-2">
    <h3>Are you sure you want to delete this faculty?</h3>
    <div class="container shadow" style="padding-bottom:5px">
        <dl class="row">
            <dt class="col-sm-4">
                Faculty Name:
            </dt>
            <dd class="col-sm-8">
                <div style="word-break: break-all;">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </dd>
        </dl>
        <div style="display: flex; justify-content: space-between; margin-top: 5px">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>