@model StudentContributions.Models.Models.Faculty

@{
    ViewData["Title"] = "Edit Faculty";
}
<div class="col-md-8 offset-md-2 border-shadow">
    <h2>@ViewData["Title"]</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="ID" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" maxlength="50" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group" style="display: flex; justify-content: space-between; margin-top: 5px">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </form>
</div>

